<div class="top">
  <div class="upper-content">
    <div class="heading-name">普通のタイピングゲーム</div>
    <div class="choices">
      <div class="choice-1"><%= link_to '普通モード', typing_normal_path, class: "link", data: {"turbolinks" => false} %></div>
      <div class="choice-2"><%= link_to 'シークレットモード', typing_secret_path, class: "link", data: {"turbolinks" => false} %></div>
    </div>
  </div>
</div>

