.top {
  /* background-image: url("/images/bg_school_room.jpg"); */
  /* background-image: url("<%= asset_path('bg_school_room.jpg') %>") */
  height: 100vh;
  background-size: cover;
}

.heading-name{
  color: white;
  font-size: 70px;
  text-align: center;
  border-bottom: 4px solid white;
  width: 800px;
  padding-top: 40px;
  margin: 0px auto;
}

.choices{

}

.choice-1{
  font-size: 30px;
  text-align: center;
  border-bottom: 4px solid white;
  width: 170px;
  padding-top: 70px;
  margin: 0px auto;
}
.choice-2 {
  color: white;
  font-size: 30px;
  text-align: center;
  border-bottom: 4px solid white;
  width: 300px;
  padding-top: 30px;
  margin: 0px auto;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
}